.services-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px 20px;
}
.services-content {
    padding: 60px 0;
}
.services-text {
    padding: 20px 15px;
    color: white;
    font-size: 17px;
}

.grid-content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

path.fill-blue {
    fill: var(--color-midnight-blue);
}
.dark path.fill-blue {
    fill: #fff;
}

@media(max-width: 992px) {
    .services-grid-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 600px) {
    .services-grid-wrapper {
        grid-template-columns: 100%;
        gap: 20px;
    }
    .grid-content-box {
        grid-template-columns: 100%;
    }
}