@import url('https://use.typekit.net/mmt7aqb.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-midnight-blue: #262e64;
	--color-pewter-blue: #7da7ba;
	--color-burlywood: #e1b27f;
	--color-vivid-burgundy: #a31925;
	--color-naples-yellow: #ffdc5c;
	--color-deep-blue: #0d2b63;
	--color-bright-blue: #2769ec;
	--color-neon-blue: #6c47ff;
	--color-soft-blue: #4faef8;
	--color-greyish-blue: #7081a4;
	--color-whitish-blue: #f6f7fe;
	--color-mangeta: #dd6ecc;
	--color-orange: #ef845d;
	--color-light-green: #63c57b;
	--color-success: #20cf84;
	--color-warning: #fbcc56;
	--color-error: #ff5c5c;
	--color-link: #3b40de;
	--color-black-1000: #0a0a0a;
	--color-black-900: #707070;
	--color-black-800: #8c8c8c;
	--color-black-700: hsl(0, 0%, 82%);
	--color-black-600: hsl(0, 0%, 87%);
	--color-black-500: hsl(0, 0%, 91%);
	--color-black-400: hsl(0, 0%, 95%);
	--color-black-300: hsl(0, 0%, 98%);
	--color-dark-highlight: #171717;
}

body {
	color: var(--color-midnight-blue);
	background-color: white;
	transition: all 0.3s;
}

.dark body {
	background-color: var(--color-black-1000);
	color: white;
}

.box-container {
	max-width: 1440px;
}

@media (min-width: 1536px) {
	.box-container {
		max-width: 1536px;
	}
}

.section-container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 1024px) {
	.section-container {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width: 1536px) {
	.section-container {
		max-width: 1536px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.Nav__dropdown__container {
	transform-origin: top;
	position: absolute;
	margin-top: 16px;
	transform: scaleY(0);
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.Nav__dropdown__container:hover {
	transform: scaleY(1);
}

.peer:hover + .Nav__dropdown__container {
	transform: scaleY(1);
}

.caret,
.caret span {
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	width: 0px;
	height: 0px;
}

.caret {
	border-bottom-color: var(--color-black-500);
	position: absolute;
	top: -9px;
}

.caret span {
	display: block;
	border-bottom-color: white;
	margin: 1px -10px -9px;
}

.dark .caret {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.dark .caret span {
	border-bottom-color: var(--color-black-1000);
}

.arrow-button {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

.arrow-button:hover {
	color: var(--color-pewter-blue);
	transform: scale(1.1);
}

.arrow-right {
	margin-top: 4px;
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
