@import url('https://use.typekit.net/mmt7aqb.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-midnight-blue: hsl(232, 45%, 27%);
	--color-pewter-blue: hsl(199, 31%, 61%);
	--color-burlywood: hsl(31, 62%, 69%);
	--color-vivid-burgundy: hsl(355, 73%, 37%);
	--color-naples-yellow: hsl(47, 100%, 68%);
	--color-deep-blue: hsl(219, 77%, 22%);
	--color-bright-blue: hsl(220, 84%, 54%);
	--color-neon-blue: hsl(252, 100%, 64%);
	--color-soft-blue: hsl(206, 92%, 64%);
	--color-greyish-blue: hsl(220, 22%, 54%);
	--color-whitish-blue: hsl(230, 75%, 98%);
	--color-mangeta: hsl(309, 62%, 65%);
	--color-orange: hsl(16, 82%, 65%);
	--color-light-green: hsl(135, 46%, 58%);
	--color-success: hsl(154, 73%, 47%);
	--color-warning: hsl(43, 95%, 66%);
	--color-error: hsl(0, 100%, 68%);
	--color-link: hsl(238, 71%, 55%);
	--color-black-1000: hsl(0, 0%, 4%);
	--color-black-900: hsl(0, 0%, 44%);
	--color-black-800: hsl(0, 0%, 55%);
	--color-black-700: hsl(0, 0%, 82%);
	--color-black-600: hsl(0, 0%, 87%);
	--color-black-500: hsl(0, 0%, 91%);
	--color-black-400: hsl(0, 0%, 95%);
	--color-black-300: hsl(0, 0%, 98%);
}

body {
	color: var(--color-midnight-blue);
	background-color: white;
	transition: all 0.3s;
}

.dark body {
	background-color: var(--color-black-1000);
	color: white;
}

.box-container {
	max-width: 1440px;
}

@media (min-width: 1536px) {
	.box-container {
		max-width: 1536px;
	}
}

.section-container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

@media (min-width: 1024px) {
	.section-container {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width: 1536px) {
	.section-container {
		max-width: 1536px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.Nav__dropdown__container {
	transform-origin: top;
	position: absolute;
	margin-top: 16px;
	transform: scaleY(0);
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.Nav__dropdown__container:hover {
	transform: scaleY(1);
}

.peer:hover + .Nav__dropdown__container {
	transform: scaleY(1);
}

.caret,
.caret span {
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	width: 0px;
	height: 0px;
}

.caret {
	border-bottom-color: var(--color-black-500);
	position: absolute;
	top: -9px;
}

.caret span {
	display: block;
	border-bottom-color: white;
	margin: 1px -10px -9px;
}

.dark .caret {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.dark .caret span {
	border-bottom-color: var(--color-black-1000);
}

.arrow-button {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

.arrow-button:hover {
	color: var(--color-pewter-blue);
	transform: scale(1.1);
}

.arrow-right {
	margin-top: 4px;
	transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
